{%extends "layout.html"%}

{%block content%}
    {%from "_macros.html" import render_field%}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-7" style="padding-top: 50px">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Eliminar Alumnos</h2>
                </div>
                <div class="card-body">
                    <div>
                        <form action="/eliminar" method="post">
                            <div class="mb-3">
                                {{render_field(form.id,class='form-control')}}
                            </div>
                            <div class="mb-3">
                                {{render_field(form.nombre,class='form-control')}}
                            </div>
                            <div class="mb-3">
                                {{render_field(form.apellidos,class='form-control')}}
                            </div>
                            <div class="mb-3">
                                {{render_field(form.email,class='form-control')}}
                            </div>
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                            <input type="submit" id="reg-alum" name="eliminar" value="Elimianar" class="btn btn-danger"/>
                            <a href="ABCompleto" class="btn btn-success">
                                <i class=""></i>Regresar
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}